text-semantics
owlready2
nltk
lemmagen
wordcloud
flair
scikit-learn
numpy
scipy
opentsne
hdbscan
matplotlib
seaborn
tika
gensim
-e git://github.com/zelandiya/RAKE-tutorial.git#egg=nlp-rake
-e git://github.com/LIAAD/yake#egg=yake
umap-learn
