owlready2
nltk
lemmagen
wordcloud
flair
scikit-learn
numpy
scipy
opentsne
hdbscan
matplotlib
seaborn
tika
gensim
-e git://github.com/zelandiya/RAKE-tutorial.git#egg=nlp-rake
yake
umap-learn
sentence-transformers
pytextrank
torch
transformers @ git+https://github.com/huggingface/transformers@144cea253f80bcd9b3c596d12902183c77ceceae
datasets
sentence-transformers
spacy
